Source: adgenicam
Section: libdevel
Priority: optional
Maintainer: Evan Daykin <daykin@frib.msu.edu>
Build-Depends: debhelper (>= 10), dpkg-dev (>= 1.17.14),
               epics-debhelper (>=8.14~), epics-dev, epics-adcore-dev,
               epics-asyn-dev, debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/areaDetector/ADGenICam

Package: epics-adgenicam-dev
Architecture: any
Depends:  epics-adcore-dev, epics-dev, epics-asyn-dev, libadgenicam1.8 (= ${binary:Version}),
         ${misc:Depends}, ${shlibs:Depends}, ${epics:Depends}
Breaks: epics-aravisgige-dev (<< 3.2)
Description: ADGenICam Base Classes
 .
 This package contains headers and libraries needed at build time.

Package: libadgenicam1.8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: areaDetector driver for GenICam cameras
 An areaDetector driver for GenICam video cameras.
 .
 This package contains runtime libraries
